.container__header {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
  flex-flow: row;
  background-color: #161620;
}

.header__first_section {
  display: flex;
  width: 1140px;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 25px;
}

.first_section__logo {
  display: flex;
  flex-flow: column;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;

}

.logo__text {
  display: flex;
  padding-top: 10px;
  width: 165px;
  text-align: left;

  color: #E4E5EA;
}

.first_section__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding-left: 12px;
}

.nav__item {
  margin-left: 16px;
}

.nav__item:first-child {
  margin-left: 0px;
}

.nav__item a {
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  /* light text */

  color: #808080;
  transition-duration: .5s;
}

.nav__item:hover a{
  color: #d3d3d3;
  transition-duration: .5s;
  border-bottom: 1px solid;
}
