.noticeMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 59px;
  background: #F17979;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.noticeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 840px;
  height: 100%;

}

.noticeIconBack {
  position: absolute;
  display: flex;
  width: 45px;
  height: 45px;
  background: url('../assets/alert.svg') no-repeat;
  opacity: .4;
}


.noticeIcon {
  position: relative;
  display: flex;
  width: 32px;
  height: 32px;
  background: url('../assets/alert.svg') no-repeat;
  filter: invert(100%) sepia(6%) saturate(4284%) hue-rotate(185deg) brightness(100%) contrast(105%);
}

.noticeText {
  z-index: 1;
  display: flex;
  width:100%;
  padding-left: 15px;

  text-align:justify;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 0.017em;

  color: #FFFFFF;
}
