@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html, body {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
  min-width: 1024px;
  height: 100%;
  -webkit-transition: all 0.3s ease;;
  -moz-transition: all 0.3s ease;;
  -o-transition: all 0.3s ease;;
  transition: all 0.3s ease;
  background: rgba(13, 13, 13, 0.90), url("../assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.blackMarket_name {
    cursor: pointer;
    display: flex;
    padding-top: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.253em;
    text-transform: uppercase;
    color: #FFFFFF;
    transition-duration: 1s;
}

.blackMarket_donate {
  position: relative;
  display: flex;
  width: 100%;
  flex-flow: column;
  align-items: flex-end;
  text-align: center;
  padding-right: 10px;
  cursor: pointer;
}

.donate__x {
  display: flex;
  cursor: pointer;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 27px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.018em;
  text-align: center;
  color: #FFFFFF;
}

.donate__name {
  display: flex;
  cursor: pointer;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.018em;

  color: #FFFFFF;
  transition-duration: 1s;
}

.blackMarket_desc {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    cursor: pointer;
    padding-top: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.018em;

    color: #FFFFFF;
    transition-duration: 1s;
}


.blackMarket_container {
    display: flex;
    width: 100%;
    height: 96px;
    align-items: center;
    flex-flow: column;
    border: 1px solid #262638;;
    background: url('../assets/blackmarket.svg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transition-duration: 1s;
}

.blackMarket_container:hover{
  display: flex;
  cursor: pointer;
  opacity: 0.9;
  border: 1px solid #fff;
  transition-duration: 1s;
}

.blackMarket_container:hover .blackMarket_name{
  display: flex;
  letter-spacing: 0.598em;
  transition-duration: 1s;
}

.blackMarket_container:hover .blackMarket_desc{
  display: flex;
  letter-spacing: 0.498em;
  transition-duration: 1s;
}


* {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  padding-top: 34px;
}

.container {
  display: flex;
  justify-content: center;
  padding-top: 34px;
}

.grid__section {
  display: grid;
  width:50%;
  gap: 20px 22px;
  grid-template-columns: 626px 394px;
}

@media (max-width:1024px) {
  .btn {
    display: none;
  }
}
