@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$animateSpeed: 1s;

html, body {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
  min-width: 1024px;
  height: 100%;
  -webkit-transition: all 0.3s ease;;
  -moz-transition: all 0.3s ease;;
  -o-transition: all 0.3s ease;;
  transition: all 0.3s ease;
  background: rgba(13, 13, 13, 0.90), url("../assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.blackMarket_name {
    cursor: pointer;
    display: flex;
    padding-top: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.253em;
    text-transform: uppercase;
    color: #FFFFFF;
    transition-duration: $animateSpeed;
}

.blackMarket_donate {
  position: relative;
  display: flex;
  width: 100%;
  flex-flow: column;
  align-items: flex-end;
  text-align: center;
  padding-right: 10px;
  cursor: pointer;
}

.donate__x {
  display: flex;
  cursor: pointer;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 27px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.018em;
  text-align: center;
  color: #FFFFFF;
}

.donate__name {
  display: flex;
  cursor: pointer;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.018em;

  color: #FFFFFF;
  transition-duration: $animateSpeed;
}

.blackMarket_desc {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    cursor: pointer;
    padding-top: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.018em;

    color: #FFFFFF;
    transition-duration: $animateSpeed;
}


.blackMarket_container {
    display: flex;
    margin: 0 auto;
    grid-column: 1;
    grid-row: 2;
    width: 94%;
    height: 96px;
    align-items: center;
    flex-flow: column;
    border: 1px solid #262638;;
    background: url('../assets/blackmarket.svg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transition-duration: $animateSpeed;
}

.blackMarket_container:hover{
  display: flex;
  cursor: pointer;
  opacity: 0.9;
  border: 1px solid #fff;
  transition-duration: $animateSpeed;
}

.blackMarket_container:hover .blackMarket_name{
  display: flex;
  letter-spacing: 0.598em;
  transition-duration: $animateSpeed;
}

.blackMarket_container:hover .blackMarket_desc{
  display: flex;
  letter-spacing: 0.498em;
  transition-duration: $animateSpeed;
}


* {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 34px;
}

.PageContainerHead {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 85px;
}

.namePage {
  color: #FFF;
  font-family: Inter;
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.765px;
}

.descPage {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.765px;
  border: 1px solid #FFF;
  border-radius: 10px;
  padding: 5px 15px 5px 15px;
}

.errorMessage {
  display: flex;
  font-weight: 800;
  font-size: 24px;
  color: #FFF;
}

.grid__section {
  display: grid;
  min-width: auto;
  max-width: 1280px;
  gap: 20px 20px;
  grid-template-columns: 425px 300px 400px;
  grid-template-rows: auto;
}

.profile__button {
  cursor: pointer;
  display: flex;
  position: relative;
  overflow: hidden;
  justify-content: center;
  margin: 0 auto;
  width: 295px;
  height: 105px;
  border-radius: 15px;
  background: #1D1D1D;
  list-style-type: none;
  flex-flow: column;
}

.button__text_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  margin-left: 55px;
  margin-bottom: 10px;
  color: #4E4E4E;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.08px;
}

.button__text{
  display: flex;
  align-items: center;
  margin-left: 8px;
  margin-top: 2px;
  color: #FFF;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 1.296px;
}

.buttonInfo{
  display: flex;
  align-items: center;
  height: 20px;
  margin-left: 55px;  
}

.buttonIconBackground {
  position: absolute;
  width: 125px;
  height: 125px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 65%;
  margin-top: 10%;
  transition-duration: $animateSpeed;
}

.profile__button:hover #rep {
  width: 150px;
  height: 150px;
  margin-left: 55%;
  margin-top: 15%;
  filter: invert(100%) sepia(26%) saturate(804%) hue-rotate(56deg) brightness(100%) contrast(100%);
}

#rep {
  filter: invert(99%) sepia(1%) saturate(2%) hue-rotate(253deg) brightness(113%) contrast(100%);
  background-image: url('../assets/rep_up.svg');
}

#donate {
  background-image: url('../assets/currencyDonate.svg');
}

#currency {
  background-image: url('../assets/currencyInGame.svg');
}

.rep {
  @extend #rep;
}

.donate {
  @extend #donate;
}

.currency {
  @extend #currency;
}

@media (max-width:1024px) {
  .btn {
    display: none;
  }
}
