@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');

html, body {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
  min-width: 1024px;
  height: 100%;
  -webkit-transition: all 0.3s ease;;
  -moz-transition: all 0.3s ease;;
  -o-transition: all 0.3s ease;;
  transition: all 0.3s ease;
  background: linear-gradient(107.33deg, rgba(16, 16, 20, 0.8) -0.27%, rgba(27, 27, 34, 0.8) 107.67%), url("../assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}


.container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background: linear-gradient(107.33deg, rgba(16, 16, 20, 0.8) -0.27%, rgba(27, 27, 34, 0.8) 107.67%), url("../assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 1280px;
  height: 100vh;
}

@media (max-width:1199px) {

  html, body {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
    width: 100%;
    background: url("../assets/background.png"), linear-gradient(107.33deg, rgba(16, 16, 20, 0.8) -0.27%, rgba(27, 27, 34, 0.8) 107.67%);
    background-repeat: no-repeat;
    background-size: auto;
  }

  .container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: #fdfdfd;
    width: 100%;
    height: 100%;
  }

}
