@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@media (max-width:1024px) {
  .btn {
    visibility: hidden;
    display: none;
  }
}

* {
  padding: 0;
  margin: 0;
}
a {
  color: #000;
  text-decoration : none;
}

a:hover {
  color: #FFF;
  text-decoration : none;
}

.btn{
  display: flex;
  justify-content: center;
  width:140px;
  height:50px;
  border:1px solid #808080;
  text-align:center;
  cursor:pointer;
  position:relative;
  box-sizing:border-box;
  overflow:hidden;
/*   margin:0 0 40px 50px; */
}

.btn .button__SteamName{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:arial;
  font-size: 12px;
  color: #fff;
  text-decoration:none;
  line-height:20px;
  transition:all .5s ease;
  z-index:2;
  position:relative;
}

.eff{
  width:140px;
  height:50px;
  left:-105%;
  background: linear-gradient(91.36deg, #DF62C9 -17.24%, #9639F0 97.52%);
  position:absolute;
  transition:all .5s ease;
  z-index:1;
}

.btn:hover .eff{
  left:0;
  color: white;
}

.steamICON {
  display: flex;
  width: 24px;
  height: 24px;
  padding-right: 5px;
  filter: invert(99%) sepia(100%) saturate(2%) hue-rotate(259deg) brightness(107%) contrast(100%);
}

.btn:hover .steamICON {
  display: flex;
  width: 24px;
  height: 24px;
}

.btn:hover .button__SteamName {
  color: #fff;
}

.steamContainer {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}

.steamAvatar {
  display: flex;
  width: 32px;
  height: 32px;
  border-radius: 100%;
}

.steamName {
  display: flex;
  padding-left: 15px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.108em;

  color: #AAA;

}
.backGround_steamAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  background: linear-gradient(157.33deg, #F971BA 35.01%, #8932F7 97.58%);

}

.backGround2_steamAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  border-radius: 100%;
  background: none;
}

.dropdown__hero:hover .backGround2_steamAvatar{
  background: linear-gradient(180deg, rgba(249,113,186, .3) 24.48%, rgba(137,50,246, .3) 100%);
  transition-duration: 1s;
}
.dropdown__hero:hover .steamName{
  color: #EBEBEB;
  transition-duration: 1s;
}

$bg: #D6EAFA;
$black: #000;
$green: #00CE75;
$red: #f08080;
$menu-bg: #161620;
$menu-color: #777;
$menu-hover: #252535;
$menu-hover-color: #AAA;
$font-name: 'Montserrat',
sans-serif;
$font-menu: 'Questrial',
sans-serif;

.dropdown__hero {
  position: relative;
  display: inline-block;

  .dropdown__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;

    & .steamName {
      padding: 0 0.5rem;
      font-family: $font-menu;
      font-weight: 300;
    }

    & .steamAvatar {
      -o-object-fit: cover;
         object-fit: cover;
    }

  }

  .dropdown__input {
    display: none;

    +.dropdown__menu {
      display: none;
    }

    &:checked+.dropdown__menu {
      display: block;
    }
  }

  .dropdown__menu {
    position: absolute;
    top: 100%;
    padding: 0;
    margin: 1rem 0 0 0.5rem;
    background-color: $menu-bg;
    list-style-type: none;
    padding: 1rem;
    width: 13.75rem;

    &::before {
      content: '';
      position: absolute;
      top: -0.4375rem;
      left: 0.6875rem;
      border-bottom: solid 0.4375rem #161620;
      border-left: solid 0.4375rem transparent;
      border-right: solid 0.4375rem transparent;
    }

    & .menuItem {
      cursor: pointer;
      display: block;
      padding: 0.9375rem;
      font-family: $font-menu;
      color: $menu-color;
      font-weight: 400;
      font-size: 0.875rem;
      letter-spacing: 0.0625rem;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s;
      text-decoration: none;

      &:hover {
        background-color: $menu-hover;
        color: $menu-hover-color;
      }
    }
  }



}
